################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/project Muller Salopek/project Muller Salopek/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
