@{

}

<!DOCTYPE html>
<html>
<head>
    <title>@CentralniServer.Properties.Resources.ServerTitle</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>The server is online!</p>
    </div>
</body>
</html>
